@model Portfolio.Dotnet.Identity.Email.Emails.ResetPassword.ResetPasswordEmailModel
@{
    Layout = @"Emails/_Layout.cshtml";
}
<h2>Reset Password</h2>
Click here to reset your password: <a href="@Raw(Model.ResetPasswordLink)">@Raw(Model.ResetPasswordLink)</a>